
    <div class="row">
        <div class="col-sm-10 m-2 col-md-offset-2 custyle">
            <table class="table table-striped custab">
            <thead>
            <a href="#" [routerLink]="['/']" class="btn btn-primary btn-xs pull-right"><b>+</b> Add new categories</a>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Salary</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
                    <tr *ngFor="let emp of employeeService.employees">
                        <td>{{emp._id}}</td>
                        <td>{{emp.name}}</td>
                        <td>{{emp.position}}</td>
                        <td>{{emp.office}}</td>
                        <td>{{emp.salary}}</td>
                        <td class="text-center">
                            <a class='btn btn-info btn-xs' href="#" (click)="onEdit(emp)"><span class="glyphicon glyphicon-edit"></span> Edit</a>
                            <a href="#" class="btn btn-danger btn-xs" (click)="onDelete(emp._id,employeeForm)"><span class="glyphicon glyphicon-remove"></span> Del</a>
                        </td>
                    </tr>
            </table>
        </div>
    </div>

    


